{% extends 'base.html' %}
{% block content %}

<!-- <style>
  .divTable {
    display: table;
    width: 100%;
  }
  .divTableRow {
    display: table-row;
  }
  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
  }
  .divTableCell,
  .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
  }
  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
    font-weight: bold;
  }
  .divTableFoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
  }
  .divTableBody {
    display: table-row-group;
  }
</style> -->
<style>
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

table.Tickets {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	
}
.trtr{
	width:80px
}
table.Tickets td,
table.Tickets th {
    border: 1px solid #AAAAAA;
    padding: 2px 2px;
}

table.Tickets tbody td {
    font-size: 13px;
}

table.Tickets tr:nth-child(even) {
    background: #D0E4F5;
}

table.Tickets thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

table.Tickets thead th {
    font-size: 13px;
    font-weight:200;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

table.Tickets thead th:first-child {
    border-left: none;
}

table.Tickets tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}

table.Tickets tfoot td {
    font-size: 14px;
}

table.Tickets tfoot .links {
    text-align: right;
}

table.Tickets tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}</style>

	<title>Document</title>
</head>
<body>
	
	<span><a href="/sortt/">Sort by Status </a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
	<span><a href="/sortx/">Sort by Time </a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
	<span><a href="/createTicket/">Create New Ticket</a> </span>
	{% if data %} 
	{% for i in data %}
	 
	<div class="table-wrapper-scroll-y my-custom-scrollbar">
	<table class="Tickets table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th class="trtr">Ticket Status</th>
				<th>User Assigned</th>
				<th>Completed By</th>
				<th>Created By</th>
				<th>Time Created</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td>{{i.id}}</td>
				<td><a href="/detail/{{i.id}}">{{i.title}}</a></td>
				<td class="trtr">{{i.status}}</td>
				<td>{{i.user_assigned}}</td>
				<td>{{i.completed_by}}</td>
				<td>{{i.created_by}}</td>
				<td>{{i.time_filled}}</td>
			</tr>
			
		</tbody>
	</table>
	</div>
	{% endfor %}
	{% endif %}
	
	{% endblock %}







	