{% extends 'base.html' %}
{% block content %}


<style>
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

table.Tickets {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	
}
.trtr{
	width:80px
}
table.Tickets td,
table.Tickets th {
    border: 1px solid #AAAAAA;
    /* padding: 1px 1px; */
}

table.Tickets tbody td {
    font-size: 13px;
}

table.Tickets tr:nth-child(even) {
    background: #D0E4F5;
}

table.Tickets thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 1px solid #444444;
}

table.Tickets thead th {
    font-size: 13px;
    font-weight:200;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

table.Tickets thead th:first-child {
    border-left: none;
}

table.Tickets tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}

table.Tickets tfoot td {
    font-size: 14px;
}

table.Tickets tfoot .links {
    text-align: right;
}

table.Tickets tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}</style>

	<title>BugTracker</title>
</head>
<body>
  
	<!-- <span><a href="/users/{id}">users </a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; -->
	<!-- <span><a href="/sortt/">Sort by Status </a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
	<span><a href="/sortx/">Sort by Time </a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; -->
	<span><a href="/createTicket/">Create New Ticket</a> </span>


  <h2>New Tickets</h2>
	{% for i in new_tickets %}
	 
	<div class="table-wrapper-scroll-y my-custom-scrollbar">
	<table class="Tickets table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th class="trtr">Ticket Status</th>
				<th>User Assigned</th>
				<th>Completed By</th>
				<th>Created By</th>
				<th>Time Created</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td><a href="/detail/{{i.id}}">{{i.id}}</a></td>
				<td><a href="/detail/{{i.id}}">{{i.title}}</a></td>
        <td class="trtr">{{i.status}}</td>
        {% if i.user_assigned %}
				<td><a href="/user/{{i.user_assigned.id}}">{{i.user_assigned}}</a></td>
        {% else %}
        <td><a href="#">{{i.user_assigned}}</a></td>
        {% endif %}

        {% if i.completed_by %}
        <td><a href="/user/{{i.completed_by.id}}">{{i.completed_by}}</a></td>
        {% else %}
        <td><a href="#">{{i.completed_by}}</a></td>
        {% endif %}

        {% if i.created_by %}
        <td><a href="/user/{{i.created_by.id}}">{{i.created_by}}</a></td>
        <td><a href="#">{{i.created_by}}</a></td>
        {% endif %}
				<td>{{i.time_filled}}</td>
			</tr>
			
		</tbody>
	</table>
	</div>
	{% endfor %}
	
  
  <h2>Tickets In Progress</h2>
  <container class="assbox" style="border: black;">
	{% for i in assigned_tickets %}
	 
	<div class="table-wrapper-scroll-y my-custom-scrollbar">
	<table class="Tickets table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th class="trtr">Ticket Status</th>
				<th>User Assigned</th>
				<th>Completed By</th>
				<th>Created By</th>
				<th>Time Created</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td><a href="/detail/{{i.id}}">{{i.id}}</a></td>
				<td><a href="/detail/{{i.id}}">{{i.title}}</a></td>
        <td class="trtr">{{i.status}}</td>
        {% if i.user_assigned %}
				<td><a href="/user/{{i.user_assigned.id}}">{{i.user_assigned}}</a></td>
        {% else %}
        <td><a href="#">{{i.user_assigned}}</a></td>
        {% endif %}

        {% if i.completed_by %}
        <td><a href="/user/{{i.completed_by.id}}">{{i.completed_by}}</a></td>
        {% else %}
        <td><a href="#">{{i.completed_by}}</a></td>
        {% endif %}

        {% if i.created_by %}
        <td><a href="/user/{{i.created_by.id}}">{{i.created_by}}</a></td>
        <td><a href="#">{{i.created_by}}</a></td>
        {% endif %}
				<td>{{i.time_filled}}</td>
			</tr>
			
		</tbody>
	</table>
	</div>
	{% endfor %}
  </container>
  

  <h2> Tickets Completed</h2>
	{% for i in completed_tickets %}
	 
	<div class="table-wrapper-scroll-y my-custom-scrollbar">
	<table class="Tickets table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th class="trtr">Ticket Status</th>
				<th>User Assigned</th>
				<th>Completed By</th>
				<th>Created By</th>
				<th>Time Created</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td><a href="/detail/{{i.id}}">{{i.id}}</a></td>
				<td><a href="/detail/{{i.id}}">{{i.title}}</a></td>
        <td class="trtr">{{i.status}}</td>
        {% if i.user_assigned %}
				<td><a href="/user/{{i.user_assigned.id}}">{{i.user_assigned}}</a></td>
        {% else %}
        <td><a href="#">{{i.user_assigned}}</a></td>
        {% endif %}

        {% if i.completed_by %}
        <td><a href="/user/{{i.completed_by.id}}">{{i.completed_by}}</a></td>
        {% else %}
        <td><a href="#">{{i.completed_by}}</a></td>
        {% endif %}

        {% if i.created_by %}
        <td><a href="/user/{{i.created_by.id}}">{{i.created_by}}</a></td>
        <td><a href="#">{{i.created_by}}</a></td>
        {% endif %}
				<td>{{i.time_filled}}</td>
			</tr>
			
		</tbody>
	</table>
	</div>
	{% endfor %}
	
  
  <h2 style="color: red">Invalid Tickets</h2>
	{% for i in invalid_tickets %}
  
	<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="Tickets table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th class="trtr">Ticket Status</th>
          <th>User Assigned</th>
          <th>Completed By</th>
          <th>Created By</th>
          <th>Time Created</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td><a style="color:red" href="/detail/{{i.id}}">{{i.id}}</a></td>
          <td><a style="color:red;text-decoration: line-through;" href="/detail/{{i.id}}">{{i.title}}</a></td>
          <td class="trtr" style="color:red">{{i.status}}</td>
          {% if i.user_assigned %}
          <td><a style="color:red" href="/user/{{i.user_assigned.id}}">{{i.user_assigned}}</a></td>
          {% else %}
          <td><a style="color:red" style="color:red" href="#">{{i.user_assigned}}</a></td>
          {% endif %}
          
          {% if i.completed_by %}
          <td><a style="color:red" href="/user/{{i.completed_by.id}}">{{i.completed_by}}</a></td>
          {% else %}
          <td><a style="color:red" href="#">{{i.completed_by}}</a></td>
          {% endif %}
          
          {% if i.created_by %}
          <td><a style="color:red" href="/user/{{i.created_by.id}}">{{i.created_by}}</a></td>
          <td><a style="color:red" href="#">{{i.created_by}}</a></td>
          {% endif %}
          <td style="color:red">{{i.time_filled}}</td>
        </tr>
        
      </tbody>
    </table>
	</div>
	{% endfor %}
	{% endblock %}
	